<%= form_for(@timecard) do |f| %>
  <% if @timecard.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@timecard.errors.count, "error") %> prohibited this timecard from being saved:</h2>

      <ul>
      <% @timecard.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :total_hours %><br />
    <%= f.number_field :total_hours %>
  </div>
  <div class="field">
    <%= f.label :total_days %><br />
    <%= f.number_field :total_days %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
