<h1>Listing timecards</h1>

<table>
  <tr>
    <th>Total hours</th>
    <th>Total days</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @timecards.each do |timecard| %>
  <tr>
    <td><%= timecard.total_hours %></td>
    <td><%= timecard.total_days %></td>
    <td><%= link_to 'Show', timecard %></td>
    <td><%= link_to 'Edit', edit_timecard_path(timecard) %></td>
    <td><%= link_to 'Destroy', timecard, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Timecard', new_timecard_path %>
